* {
  box-sizing: border-box;
}

:root {
  --primary: #10cab7;
}

body {
  background-color: blanchedalmond;
  margin: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 5px #00000029;
  z-index: 100;
}

header:has(.links:hover) .nav span:nth-child(2) {
  border-width: 1px 30px 1px 0px;
  margin: 2px;
  transition: 0.3s;
}

img[src="/imgs/logo.png"] {
  width: 60px;
  height: 25px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
}

.nav:hover span:nth-child(2) {
  border-width: 1px 30px 1px 0px;
  margin: 2px;
  transition: 0.3s;
}

.nav span:hover {
  border-width: 1px 30px 1px 0px;
  margin: 2px;
  transition: 0.5s;
}

.nav span:empty {
  border-width: 1px 30px 1px 0px;
  border-color: black;
  border-style: solid;
  margin: 2px;
  transition: 0.5s;
}

.nav span:nth-child(2) {
  border-width: 1px 20px 1px 0px;
  margin-left: 12px;
}

.links {
  display: none;
  list-style: none;
  position: absolute;
  right: 43px;
  top: 44px;
  background-color: #ddd;
  width: 80px;
  padding: 0;
  margin: 0;
}

.links::before {
  content: "";
  position: absolute;
  right: 5px;
  top: -25px;
  border: 15px #ddd solid;
  border-color: transparent transparent #ddd transparent;
  visibility: hidden;
  z-index: -1;
}

.nav:hover ~ .links::before {
  visibility: visible;
}

.nav span:hover ~ .links::before {
  visibility: visible;
}

.links li {
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
}

.links li:nth-child(1) {
  position: absolute;
  top: -13px;
  right: 0;
  width: 50px;
}

.links a {
  text-decoration: none;
  color: #5a5a5a;
  margin: 5px;
  padding-right: 55px;
}

.nav:hover + .links {
  display: block;
  justify-content: flex-start;
  width: 150px;
  flex-wrap: wrap;
}

.links:hover {
  display: block;
  justify-content: flex-start;
  width: 150px;
  flex-wrap: wrap;
}

.links:hover::before {
  visibility: visible;
}

.links li:hover ~ li {
  display: block;
  justify-content: flex-start;
  width: 150px;
  flex-wrap: wrap;
}

.links li:not(:nth-child(1)):hover {
  transform: translateX(10px);
}

.landing {
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing h1 {
  color: #10cab7;
  top: 35%;
  font-size: 50px;
}

.landing h2 {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 300px) and (max-width: 600px) {
  .landing h1 {
    width: 275px;
    left: 53%;
  }

  .landing h2 {
    width: 300px;
    font-weight: 100;
    left: 55%;
  }
}

.features {
  background-color: #f6f6f6;
  display: grid;
  padding: 60px 10px;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
}

.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.features i {
  color: #10cab7;
  font-size: 50px;
}

.features h3 {
  font-size: 25px;
  font-weight: 800;
}

.features span {
  font-size: 20px;
  color: #a39b9b;
  width: 300px;
}

.services {
  background-color: #ffffff;
  padding: 50px 20px;
  position: relative;
  height: 100%;
  padding-bottom: 100px;
}

.services .title {
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  top: 80px;
}

.services .sub-title {
  font-size: 25px;
  font-weight: 300;
  color: #757373;
  top: 120px;
  width: 300px;
}

.services-box .s-box1,
.services-box .s-box2,
.services-box .s-box3,
.services-box .s-box4 {
  height: 110px;
  margin-top: 50px;
}

.services-box {
  display: grid;
  margin-top: 130px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 430px));
  grid-template-rows: repeat(auto-fit, 150px);
  gap: 10px 20px;
  margin-left: 50px;
}

.services-box img {
  width: 200px;
  height: 400px;
  position: absolute;
  right: 60px;
  top: 90px;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .services-box img {
    visibility: hidden;
  }
  .services-box .s-box1::before {
    visibility: hidden;
  }
  .services-box {
    margin-left: 20px;
  }
  .services-box .s-box1,
  .services-box .s-box2,
  .services-box .s-box3,
  .services-box .s-box4 {
    margin-top: 80px;
  }
}

.services-box .s-box1::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #10cab7;
  right: 30px;
  top: 110px;
  z-index: 0;
}

.services-box i {
  color: #10cab7;
  font-size: 50px;
  margin-right: 20px;
}

.services-box span {
  font-size: 25px;
  font-weight: 800;
}

.s-box1 div,
.s-box2 div,
.s-box3 div,
.s-box4 div {
  margin-top: 20px;
  margin-left: 70px;
}

.portfolio {
  background-color: #ffffff;
  padding: 50px 20px;
  position: relative;
  height: 100%;
  padding-top: 200px;
}

.portfolio .title {
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  top: 120px;
}

.portfolio .sub-title {
  font-size: 25px;
  font-weight: 300;
  color: #757373;
  top: 160px;
  width: 370px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit,350px);
  grid-template-rows: repeat(auto-fit, 1fr);
  padding-top: 50px;
  gap : 20px 20px;
  justify-content: space-evenly;
}

.projects img {
  width: 350px;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.projects .p-box1,
.projects .p-box2,
.projects .p-box3,
.projects .p-box4 {
  background-color: #e2e2e2;
  border-radius: 20px;
}

.projects .p-box1 span,
.projects .p-box2 span,
.projects .p-box3 span,
.projects .p-box4 span {
  display: block;
  font-size: 25px;
  font-weight: 800;
  margin-bottom : 20px;
  margin-left: 20px;
}

.projects .p-box1 div,
.projects .p-box2 div,
.projects .p-box3 div,
.projects .p-box4 div {
  margin-left: 20px;
  margin-bottom: 40px;
  font-size : 20px;
}
